doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    title Angel marcos
    body 
      .container
        .row
          .col
            h1 edit user
            if user 
              form(action="/updateUser", method="POST").form
                input(type="text" name="id" value=`${user.id}` hidden)
                input(type="text", name="nombre" value=`${user.nombre}` placeholder="Ingrese nombre").form-control.mb-2
                input(type="text", name="apellido"  value=`${user.apellido}` placeholder="Ingrese apellido").form-control.mb-2
                input(type="number", name="edad" value=`${user.edad}` placeholder="Ingrese edad").form-control.mb-2
                button.btn.btn-primary.w-50 agregar